html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --Grey_1: #dddddd;
  --Grey_2: #d1d1d1;
  --Grey_3: #b8b8b8;
  --Grey_4: #6D6F75;
  --Blue_1: #5E7A9F;
  --Blue_2: #33455D;
  --Blue_3: #232732;
  --Red_1: #EA5452;
  --Red_2: #520D0C;
}